* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #1A3263;
  font-family: sans-serif;
}
header{
  height: 20%;
  background: #303841;
}

.nav{
  text-align: right;
}
.textHeader{
  text-align: left;
}

.navigation li{
  padding: 20px;
  display: inline-block;
  }
  .navigation li a{
     color: white;
     font-size: 10pt;
     
  }
  .navigation li a:hover{
      color: purple;
  }



.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #03afff;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid-item:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

@media (min-width: 600px) {
  .wide {
    grid-column: span 2;
  }

  .tall {
    grid-row: span 2;
  }
}
.galeriaHF{
  font-size: 20pt;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 10pt;
  color: white;
}
 